<h1>Super Form Partial Appears</h1>

<%= form_for(@answer, url: answers_path) do |f| %>
  <div>
    Name: <%= f.text_field :name %>
  </div>
  <div>
    Favorites:
    <ul>
      <% [:chocolate, :puppies, :rainbows, :cold_hard_cash].each do |p| %>
        <%= render partial: 'checkbox', locals: {form: f, field_name: p} %>
      <% end %>
    </ul>
  </div>
<%= f.submit %>
<% end %>
